# Day 2 - Python Essentials
Author: Laura
Date: 2025-08-28

In [1]:
# Day 1 Recap: Variables 
name = "Laura"
age = 30 
height_m = 1.71

print(name, age, height_m)

Laura 30 1.71

In [2]:
# Day 1 Recap: Data Types

print(type(5))       # int (whole number)
print(type(5.3))     # float (decimal)
print(type("hello")) # str (string/text)
print(type(True))    # bool (boolean True/False)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
# Day 1 Recap: Strings

text = "Python"

# Indexing
print(text[0])    # first letter 
print(text[-1])   # fast letter

# Slicing
print(text[0:3])  # first three letters

# String methods 
print(text.upper())  # all uppercase
print(text.lower())   # all lowercase
print(text.replace("Py", "My"))  # replace part of string 

# f-string formatting 
name = "Laura"
print(f"Hello, {name}!")

P
n
Pyt
PYTHON
python
Mython
Hello, Laura!

In [5]:
name = "Laura"
age = 30
college_major = "Database Programming"

print(f"My name is {name}, I am {age} years old, and I study {college_major}.")

My name is Laura, I am 30 years old, and I study Database Programming.

In [6]:
age = 30
age_str = str(age)   # convert number -> string 
print(age_str + "years old")

30years old

In [7]:
word = "AIEngineer"

print (word[:2])
print (word[-3:])
print (word.lower())

AI
eer
aiengineer

In [11]:
wife_name = "Wifey"
print(f"{name} + {wife_name}")

Laura + Wifey

In [13]:
# Day 2: Lists 

numbers = [1,2,3,4]
print(numbers)
print(numbers[0])
print(numbers[-1])

numbers.append(5)  #add item at end
print(numbers)

numbers.insert(1, 99)  #insert at index 1
print(numbers)

print(len(numbers))    #length of list

[1, 2, 3, 4]
1
4
[1, 2, 3, 4, 5]
[1, 99, 2, 3, 4, 5]
6

In [15]:
# Day 2: Tubles

coords = (10, 20)
print(coords)
print(coords[0])
print(coords[1])

(10, 20)
10
20

In [16]:
# Day 2: Dictionaries

student = {"name": "Alice", "age": 22}
print(student)
print(student ["name"])
print(student.get("age"))

student["grade"] = 95
print(student)

student["age"] = 23
print(student)

{'name': 'Alice', 'age': 22}
Alice
22
{'name': 'Alice', 'age': 22, 'grade': 95}
{'name': 'Alice', 'age': 23, 'grade': 95}

In [17]:
# Day 2: Sets

fruits = {"apple", "banana", "apple"}
print(fruits)

fruits.add("orange")
print(fruits)

print("apple" in fruits)
print("grape" in fruits)

{'apple', 'banana'}
{'apple', 'banana', 'orange'}
True
False

In [18]:
numbers = [1, 2, 3, 4, 5]
print(numbers[2])   
print(numbers[4])   
numbers.append(6)
print(numbers)

3
5
[1, 2, 3, 4, 5, 6]

In [19]:
height = (170, 195)
print(height)

(170, 195)

In [20]:
height_weight = (170, 59)  # cm, kg
print(f"Height: {height_weight[0]} cm, Weight: {height_weight[1]} kg")

Height: 170 cm, Weight: 59 kg

In [21]:
myself = {"name": "Laura", "age": 30, "goal": "AI Engineer"}
myself["major"] = "Database Programming"
print(myself)
print(myself.values())

{'name': 'Laura', 'age': 30, 'goal': 'AI Engineer', 'major': 'Database Programming'}
dict_values(['Laura', 30, 'AI Engineer', 'Database Programming'])

In [22]:
pets = {"Ferrari", "Grand", "Flash", "Ferrari"}
print(pets)

{'Flash', 'Ferrari', 'Grand'}